params {
    output_dir = "results"
    reads = "test_reads"
    db = "GBS-SBG"
    fastq_pattern = "*{R,_}{1,2}*.fastq.gz"
}

process {
    executor = 'local' // Or specify a cluster executor like 'slurm' if needed
    cpus = 4
    memory = '8 GB'
    withLabel: process_low {
        cpus = 2
        memory = '4 GB'
    }
}



docker {
    enabled = true
}
